
.header,
.footer {
    padding: 5px;
}
.content {
    /*margin-top: 0;*/
    /*position: fixed;*/
    float: right;
    width: 80%;
    min-height: 70%;
    /*overflow: auto;*/
}

html, body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

div.sidebar-wrapper{
    width: 20%;
    height: 70%;
    overflow: hidden;
}

.header {
    height: 15%;
    width: 100%;
    border-bottom: 5px dotted red;
    background-color: #ffffff;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.footer {
    ;
    height: 15%;
    margin-top: -15%;
    position: relative;
    background-color: whiteSmoke;
    border-top: 5px dotted green;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.title_header {
    text-align: right;
    padding-bottom: 5px;
}
.title_menu {
    text-align: center;
}

.header_title_item {
    border: 5px solid blue;
}
.header_menu_item {
    border: 5px dotted #ffff00;
}